body {
  background-color: #ffa500;
  font-family:cursive;
  text-align:center;
}

div{
  border:3px solid #b0e0e6;
  display: inline-block;
}

img{
  border-radius: 70%;
  border:10px solid #b0e0e6;
}

.inspiration {
  background-color: #008b8b;
  height: 1000px;
  width:925px;
  display:inline-block;
}

#title {
  font-size:50px;
  background-color:#008b8b;
  color:#ffd700;
  margin:auto;
  padding:20px;
}

.palette{
  background-color:#FFFFFF;
  width:600px;
  height:200px
}

.dot {
  height:65px;
  width:65px;
  border-radius: 50%;
  display:inline-flex;
}

.dot.one {
  background-color:#ffa500;
}
.dot.two {
  background-color:#b0e0e6;
}
.dot.three {
  background-color:#008b8b;
}
.dot.four {
  background-color:#ffd700;
}

#square {
  height:100px;
  width:100px;
  background-color:#008b8b;
  display:inline-block;
}
