{
  box-sizing:border-box;
}

[class*="col-"] {
  float:left;
  padding:15px
}

.row::after {
  content: "";
  clear:both;
  display:table;
}

@media only screen and (min-width:768px) {
  /*for desktop */
  .col-1{width: 30%}
  .col-2{width: 30%}
  .col-3{width: 30%}
  div > img {
    max-width: 100%;
  }
}

@media only screen and (max:768px) {
  /* for mobile phone */
[class*="col-"] {
  width:100%;
}
div > img {
  max-width:100%;
}
}
